@font-face {
  font-family: 'LXGW WenKai Lite';
  src: url('../assets/HYWenHei-45W.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraCode';
  src: url('../assets/FiraCode-Regular.woff') format('woff');
}

* {
  font-family: "FiraCode", "HYWenHei", monospace;
}

.hightlight {
  color: white;
  background-color: slateblue;
}
