@font-face {
  font-family: 'LXGW WenKai Lite';
  src: url('../assets/HYWenHei-45W.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/IosevkaSS06-Regular.woff2') format('woff2');
}

* {
  font-family: "Iosevka", "HYWenHei", monospace;
}

.hightlight {
  color: white;
  background-color: slateblue;
}
